@use "../../../stylesheets/main.scss";

.checkbox {
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.label {
  @include main.flex(center, center);
  cursor: pointer;
  padding: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;

  &:hover {
    background-color: rgba(main.$color-black, 0.1);
  }
}
