@use "stylesheets/main";

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 36px;
  z-index: main.$z-index-popup;
  @include main.flex(center);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(main.$color-black, 0.3);
  cursor: pointer;
}

.content {
  position: relative;
  padding: 16px;
  border-radius: 16px;
  background-color: main.$color-white;
  z-index: 10;
  box-shadow: 0 0 15px rgba(main.$color-black, 0.4);
}

.overlayEnter {
  opacity: 0;
}

.overlayEnterActive {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.overlayExit {
  opacity: 1;
}

.overlayExitActive {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.contentEnter {
  opacity: 0;
  transform: scale(0.01);
}

.contentEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.1s ease-in 0.2s, transform 0.1s ease-in 0.2s;
}

.contentExit {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease-in 0.1s, transform 0.2s ease-in 0.1s;
}

.contentExitActive {
  transform: scale(0.01);
  opacity: 0;
}
