@mixin flex($j-content: space-between, $a-items: center, $f-direction: null) {
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;

  @if $f-direction {
    flex-direction: $f-direction;
  }
}

@mixin media($size) {
  @each $name, $value in variables.$sizes {
    @if $size == $name {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}

@mixin stack($j-content: space-between, $a-items: center, $f-direction: null) {
  @include flex($j-content, $a-items, $f-direction);
  > :not(style) + :not(style) {
    @content;
  }
}
