$color-purple-50: #404166;
$color-purple-100: #855afd;
$color-purple-150: #3a227b;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #1c1a42;
$color-dark-gray: #202022;
$color-red: #ab3f3f;

$body-font-size: 16px;
$body-line-height: 1.125;

$body1-font-size: 12px;
$body1-line-height: 1.125;

$h1-font-size: 24px;
$h1-line-height: 1.125;

$h2-font-size: 22px;
$h2-line-height: 1.125;

$z-index-popup: 1000;
