@use "../../../stylesheets/main.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: main.$color-purple-100;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: main.$color-white;
}

.buttons_list {
  @include main.stack {
    margin-left: 10px;
  }
}
